name: CI Pipeline - Django Security & Testing

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del codi
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instal·lar Firefox
      run: |
        sudo apt-get update
        sudo apt-get install -y firefox

    - name: Instal·lar Geckodriver
      uses: browser-actions/setup-geckodriver@latest
      with:
        geckodriver-version: 'latest'

    - name: Instal·lar dependències
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Executar Tests
      env:
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
        DEBUG: "False"
      run: |
        python manage.py test
